.container{
    display: flex;
    flex-wrap: wrap;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    
}
.res{
    width: 1300px;
    height: 200px;
    background-color: rgb(26, 23, 22);
    padding: 5px;
    padding-top:50px;
    text-align: center;
    border: 2px solid black;
    border-radius: 80% ;
    margin-top: 30px;
    color:white;
    font-size: 40px;
    padding-left: 30px; 
    margin-left: 50px; 

}

@media print {
    h3{
        color:blue;       
    }
}

@media screen and (min-width:800px){
    .res{
        background-color: aqua;
        color: black;
        
    }
}
@media screen and (min-width:1000px){
    .res{
        background-color:orangered;
        color:white;
}
}
